In [3]:
import pandas as pd

In [6]:
animals = pd.read_csv("Resources/Austin_Animal_Center_Intakes.csv")

In [7]:
animals.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A748291,*Madison,05/01/2017 02:26:00 PM,05/01/2017 02:26:00 PM,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,Pit Bull Mix,Black
1,A750529,NaN,05/28/2017 01:22:00 PM,05/28/2017 01:22:00 PM,8312 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,Miniature Schnauzer Mix,White/Cream
2,A730601,NaN,07/07/2016 12:11:00 PM,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,Domestic Shorthair Mix,Blue Tabby
3,A748238,NaN,05/01/2017 10:53:00 AM,05/01/2017 10:53:00 AM,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,Bichon Frise Mix,White
4,A683644,*Zoey,07/13/2014 11:02:00 AM,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,Border Collie Mix,Brown/White

In [8]:
animals['Sex upon Intake'].str.split(' ', 1, expand=True)

              0       1
0        Intact  Female
1        Intact  Female
2        Intact    Male
3        Intact    Male
4        Intact  Female
5      Neutered    Male
6        Intact    Male
7        Intact    Male
8        Spayed  Female
9        Intact    Male
10       Intact  Female
11       Intact    Male
12       Intact    Male
13       Intact    Male
14       Intact  Female
15       Intact  Female
16       Intact    Male
17       Intact    Male
18       Intact    Male
19      Unknown    None
20       Intact    Male
21       Spayed  Female
22       Intact    Male
23     Neutered    Male
24       Intact  Female
25     Neutered    Male
26       Intact    Male
27       Intact    Male
28       Intact  Female
29     Neutered    Male
...         ...     ...
89540  Neutered    Male
89541   Unknown    None
89542    Intact  Female
89543    Intact  Female
89544   Unknown    None
89545    Intact    Male
89546    Intact  Female
89547    Spayed  Female
89548    Intact  Female
89549  Neutered    Male
89550    Intact    Male
89551    Spayed  Female
89552    Intact    Male
89553    Intact    Male
89554    Intact    Male
89555    Intact    Male
89556  Neutered    Male
89557    Intact    Male
89558    Intact  Female
89559    Intact    Male
89560   Unknown    None
89561   Unknown    None
89562   Unknown    None
89563  Neutered    Male
89564   Unknown    None
89565    Spayed  Female
89566   Unknown    None
89567    Intact  Female
89568    Intact  Female
89569    Intact  Female

[89570 rows x 2 columns]

In [9]:
animals.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A748291,*Madison,05/01/2017 02:26:00 PM,05/01/2017 02:26:00 PM,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,Pit Bull Mix,Black
1,A750529,NaN,05/28/2017 01:22:00 PM,05/28/2017 01:22:00 PM,8312 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,Miniature Schnauzer Mix,White/Cream
2,A730601,NaN,07/07/2016 12:11:00 PM,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,Domestic Shorthair Mix,Blue Tabby
3,A748238,NaN,05/01/2017 10:53:00 AM,05/01/2017 10:53:00 AM,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,Bichon Frise Mix,White
4,A683644,*Zoey,07/13/2014 11:02:00 AM,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,Border Collie Mix,Brown/White

In [ ]:
pd.merge(wrestlers_2013_df, wrestlers_2014_df, how='outer', on='Wrestler')